# It is not recommended to modify this file in-place, because it will
# be overwritten during package upgrades. If you want to add further
# options or overwrite existing ones then use
# $ systemctl edit iond.service
# See "man systemd.service" for details.

# Note that almost all daemon options could be specified in
# /etc/ion/ion.conf

[Unit]
Description=Ion daemon
After=network.target

[Service]
ExecStart=/usr/bin/iond -daemon -conf=/etc/ion/ion.conf -pid=/run/iond/iond.pid
# Creates /run/ion owned by ioncore
RuntimeDirectory=iond
User=ioncore
Type=forking
PIDFile=/run/iond/iond.pid
Restart=on-failure
PrivateTmp=true

[Install]
WantedBy=multi-user.target
